.dashboard-header__outer-container {
    color: white;
    background-color: darkgray;
    padding: .5em;
    -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    background: #969696; /* Old browsers */
    background: -moz-linear-gradient(top, #969696 0%, #898989 50%, #a9a9a9 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #969696 0%,#898989 50%,#a9a9a9 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #969696 0%,#898989 50%,#a9a9a9 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    display: flex;
    justify-content: space-between
}

.dashboard-header__left-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-header__right-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}


.dashboard-header__logout-button{
    font-size: 1em;
    border: none;
    padding: .25em;
    width: 6em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    color: white;
    cursor: pointer;
}

.dashboard-header__logout-button:focus {
    outline: none;

}

.dashboard-header__sample-logo {
    width: 2.5em;
    height: 2.5em;
}