.dashboard-scanner__root-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}


.dashboard-scanner__label-choose-camera {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: .5em;
}

.dashboard-scanner__video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.dashboard-scanner__scan-type-container {
    display: flex;
    margin-top: 1em;
    justify-content: center;
    flex-direction: column;
}

.dashboard-scanner__scan-type-label {
    font-size: 1.25em;
    font-weight: 700;
    /* flex: 1; */
    display: flex;
    justify-content: center;
    background-color: #929292;
    color: white;
    padding: .5em 0;
    -webkit-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.75);
    margin-bottom: 1em;
    border-radius: 3px;

}

.dashboard-scanner__radio-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 2;
    margin-left: .5em;
    padding: .5em 0;
}
  

mat-radio-group mat-radio-button .dashboard-scanner__radio {
    border-color: grey!important;
}

.dashboard-scanner__divider {
    border: .5px solid gainsboro;
    margin: 1em 0;
}

.dashboard-scanner__bar-code-result-section {
    margin-top: 1em;
    display: flex;
    border: 1px solid gainsboro;
    padding: 1em;
    border-radius: 3px;
}

.dashboard-scanner__product-image-container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.dashboard-scanner__product-image {
    width: 6em;
    height: 6em;
    object-fit: cover;
}

.dashboard-scanner__product-details-container {
    display: flex;
    flex: 1;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-scanner__product-title {
    font-size: .875em;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}

.dashboard-scanner__product-cost-and-quantity {
    font-size: .875em;
}

.dashboard-scanner__call-to-action{
    display: flex;
    margin-top: 1em;
    justify-content: flex-end;
}

.dashboard-scanner__main-call-to-action {
    margin-top: 1em;
}

.dashboard-scanner__call-to-action-remove {
    margin-right: 1em;
}

.dashboard-scanner__total-cost-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    padding: 1em 0;
    font-size: 1em;
    font-weight: 600;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .dashboard-scanner__total-cost-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1em;
        padding: 1em 0;
        font-size: 1em;
        font-weight: 600;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.dashboard-scanner__table-cell {
    font-size: .65em;
}

.dashboard-scanner__table-quantity {
    text-align: center;
}

.dashboard-scanner__table-price {
    text-align: right;
}

.dashboard-scanner__table-remove {
    display: flex;
    justify-content: flex-end;
    height: 4em;
}

.dashboard-scanner__cart-title {
    font-size: 1em;
    font-weight: 700;
}

.dashboard-scanner__cart-stats-container-left {
    display: flex;
}

.dashboard-scanner__cart-stats-container-right{
    display: flex;
}

table {
    width: 100%;
}